* {
    background-image: url('../images/clouds.JPG');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', arial;
}

/* Game container */


.temp h1 {
    text-align: center;
    font-size: 45px;
}

.game_container {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: transparent;
}

button {
    background: transparent;
    color: black;
    border: 12px 12px white;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 0 10px;
}

#start {
    position: relative;
    font-size: 30px;
}

#instructions {
    position: relative;
    font-size: 30px;
}

.scoring {
    position: relative;
    font-size: 34px;
    background: transparent;
}

.timeing {
    position: relative;
    font-size: 34px;
    background: transparent;
}

#timer {
    background: transparent;
}

#score {
    background: transparent;
}

/* Game area */

.gamearea {
    overflow: hidden;
    width: 100%;
    height: 86%;
}

/* Bart*/

img {
    background: transparent;
    height: 100px;
}



.game_container {
    flex-wrap: 1;
    justify-content: align;
}