* {
    background-image: url('../images/clouds.JPG');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', arial;
    color: black;
}

/* Game container */
.temp h1 {
    text-align: center;
    font-size: 45px;
}

.game_container {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: transparent;
}

button {

    color: black;
    border: 12px 12px white;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 0 10px;
}

#start {
    background: transparent;
    position: relative;
    font-size: 30px;
    height: 50px;
}

#instructions {
    background: transparent;
    position: relative;
    font-size: 30px;
    height: 50px;
}

.scoring {
    position: relative;
    font-size: 34px;
    background: transparent;
}

.timeing {
    position: relative;
    font-size: 34px;
    background: transparent;

}

#timer {
    background: transparent;
    height: 50px;
}

#score {
    background: transparent;
    height: 50px;
}

/* Game area */

.gamearea {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    background: transparent;
}

/* Bart*/

img {
    background: transparent;
    height: 100px;
}



.game_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Instructions box pop up */

#instructionContainer {
    display: none;
    background: white;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 1000px;
    height: 300px;
    box-shadow: 5px 10px 20px grey;
    text-align: center;
}

#instructionContainer h1 {
    border-bottom: 2px solid black;
    background: transparent;
}

#instructionText {
    vertical-align: middle;
    font-size: 22px;
    padding: 20px;
    margin: 20px;
    background: transparent;

}

#ok {
    font-size: medium;
    display: block;
    width: 60px;
    height: 25px;
    background-color: #fff;
    margin: 5px auto;
}

/* Media query screen sizes */

/* for screens smaller than 700px wide */

@media only screen and (max-width: 900px) {

    .gamearea {
        background: transparent;
        width: 100vw;
        height: 70vh;
    }

    .game_container {
        flex-flow: column;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 180px;
        width: 100vw;

    }

    .temp h1 {
        font-size: 35px;
    }

    #instructionContainer {
        width: 75vw;
        height: 300px;
        left: 8%;
    }

    #instructionText {
        font-size: 14px;
        padding: 10px;
        margin: 15px;
    }

    #instructions {
        position: relative;
        font-size: 20px;
        width: 150px;
    }

    .scoring {
        position: relative;
        font-size: 24px;
        height: 50px;
    }

    .timeing {
        position: relative;
        font-size: 24px;
        height: 50px;
    }

    #start {
        position: relative;
        font-size: 24px;
        width: 150px;
    }

}

/* for screens smaller than 400px wide */
@media only screen and (max-width: 400px) {
    .gamearea {
        background: transparent;
        width: 100vw;
        height: 65vh;
    }

    #instructionContainer {
        width: 75vw;
        height: 310px;
    }

    #instructionText {
        font-size: 14px;
        padding: 5px;
        margin: 5px;
    }
}